@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center mt-5">
    <h1 class="display-4 mb-4">Welcome to the Salon Booking App!</h1>
    <p class="lead mb-4">
        
    </p>
    <div class="btn-group" role="group">
        <a class="btn btn-outline-dark" href="/Customer">Customers</a>
        <a class="btn btn-outline-dark" href="/Stylist">Stylists</a>
        <a class="btn btn-outline-dark" href="/Service">Services</a>
        <a class="btn btn-outline-dark" href="/Appointment">Appointments</a>
    </div>
</div> 